<div class="d-flex justify-content-between bg-white rounded shadow p-1">
    <div class="col">
        <div class="d-flex justify-content-start fs-1">
            <a href="" class="text-decoration-none mx-3">
                <div class="d-flex align-items-center">
                    <i class="fa-brands fa-rocketchat text-dark"></i>
                    <p class="my-auto mx-3 text-dark">Chat app</p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-3">
        {% if request.user.is_authenticated %}
        <div class="d-flex justify-content-between align-items-center h-100">
            <i class="fa-solid fa-users fs-1 me-5"></i>
            <i class="fa-regular fa-comment fs-1"></i>
        </div>
        {% endif %}
    </div>
    <div class="col">

        <div class="d-flex justify-content-end align-items-center h-100">
            {% if request.user.is_authenticated %}
                <i class="fa-solid fa-right-from-bracket fs-1 me-3"></i>
            {% else %}
                <a href="{% url 'sign_up' %}" class="text-decoration-none">
                    <div class="d-flex align-items-center">
                       <i class="fa-solid fa-plus fs-2 me-2"></i>
                        <p class="me-3 fs-2 my-auto">Create an account</p>
                    </div>
                </a>
            {% endif %}
        </div>
    </div>
</div>