{% extends "base.html" %}

{% block content %}
    <div class="d-flex flex-row ">
        <div class="col">

        </div>
        <div class="col-lg-6">
           <div class="bg-white mt-5 rounded-top overflow-auto" style="max-height: 65vh">
                <div class="d-flex align-items-center justify-content-between p-3 sticky-top" style="background-color: azure">
                    <p class="fs-2 my-auto mx-3 fw-bold">
                        Room name
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex me-4 align-items-center">
                            <i class="fa-solid fa-user fs-3"></i>
                            <p class="fs-3 my-auto mx-2"> 1</p>
                        </div>
                    </div>
                </div>
                <div class="mx-3">
                    <p> Heeej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                    <p> Hej </p>
                </div>
            </div>
            <div class="bg-white rounded-top">
                <hr class="m-0 text-secondary">
                <div class="d-flex align-items-center pt-2 pb-2 mx-2">
                    <textarea name="" style="border: none; resize: none; outline: none; width: 90%">SIEMA</textarea>
                    <div class="d-flex justify-content-end me-2" style="width: 10%">
                        <button class="btn btn-primary border-0">
                            <i class="fa-solid fa-paper-plane fs-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">

        </div>
    </div>
{% endblock content %}