{% extends "home_base.html" %}

{% block content %}
    <div class="d-flex flex-row ">
        <div class="col">

        </div>
        <div class="col-lg-6">
           <div class="bg-white mt-5 rounded-top overflow-auto" style="max-height: 65vh">
                <div class="d-flex align-items-center justify-content-between p-3 sticky-top" style="background-color: azure">
                    <p class="fs-2 my-auto mx-3 fw-bold">
                        Room name
                    </p>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex me-4 align-items-center">
                            <i class="fa-solid fa-user fs-3"></i>
                            <p class="fs-3 my-auto mx-2"> 1</p>
                        </div>
                    </div>
                </div>
                <div class="mx-3" id="messages">
                    {% if messages %}
                        {% for message in messages %}
                            <p><strong>{{ message.username }}</strong>: {{ message.content }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="bg-white rounded-top">
                <hr class="m-0 text-secondary">
                <div class="d-flex align-items-center pt-2 pb-2 mx-2">
                    <form id="form" action="">
                        <input type="text" name="message">
                    </form>
                </div>
            </div>
        </div>

        <div class="col">
        </div>

        <script type="text/javascript">
            let username = '{{ username }}'
            let roomName = '{{ room_name }}'
            console.log(roomName)
            let url = `ws://${window.location.host}/chat/${username}/${roomName}/`

            console.log(url)
            const chatSocket = new WebSocket(url)
            chatSocket.onmessage = function(e) {
                let data = JSON.parse(e.data)
                console.log('Data:', data)

                if(data.type === 'chat') {
                    let messages = document.getElementById('messages')
                    messages.insertAdjacentHTML('beforeend',
                        `<div><p><strong>${data.username}</strong>${data.message}</p></div>`)
                }
            }

            let form = document.getElementById('form')
            form.addEventListener('submit', (e)=> {
                e.preventDefault()
                let message = e.target.message.value
                chatSocket.send(JSON.stringify({
                    'message': message
                }))
                form.reset()
            })
        </script>
    </div>
{% endblock content %}