{% extends 'core/base.html' %}

{% block content %}
    {% include 'modals/create_room_modal.html' %}
    <div class="d-flex flex-row">
        <div class="col">

        </div>
        <div class="col-lg-6">
            <div class="bg-white mt-5 rounded-top pb-3" style="max-height: 55vh">
                <div class="d-flex align-items-center justify-content-between p-3 sticky-top rounded-top" style="background-color: darkcyan">
                    <p class="fs-2 my-auto mx-3 fw-bold">
                        Active rooms
                    </p>
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <a href="" data-bs-toggle="modal" data-bs-target="#createRoomModal">
                            <i class="fa-solid fa-plus fs-1 text-warning"></i>
                        </a>
                        <p class="mx-3 my-auto text-white">Create new room</p>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-top overflow-auto container" style="max-height: 55vh">
                {% for room in rooms %}
                <div class="d-flex flex-row rounded mt-1 mb-1 bg-white align-items-center">
                    <div class="col text-wrap">
                        <i class="fa-solid fa-house m-0 fs-2 mx-3 text-warning"></i>
                        <p class="my-auto fs-4 fw-bold text-wrap">{{ room.name }}</p>
                    </div>
                    <div class="col-2">
                        <div class="">
                            <i class="fa-solid fa-user mx-3 fs-2 text-primary"></i>
                            <p class="my-auto fs-4">{{ room.admin.username }}</p>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="d-flex">
                            <i class="fa-solid fa-message mx-3 fs-2 text-success"></i>
                            <p class="my-auto fs-4">
                                {% for object in messages_counted %}
                                    {% if room.name == object.room_name %}
                                        {{ object.messages }}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-end">
                          {% if room.password %}
                                <i class="fa-solid fa-lock mx-3 fs-2"></i>
                            {% else %}
                                <i class="fa-solid fa-lock-open mx-3 fs-2"></i>
                          {% endif %}
                          <a href="{% url 'enter_room_password' room.name %}" class="text-decoration-none mx-3">
                             <button class="btn btn-secondary">Join</button>
                          </a>
                        </div>
                    </div>
                </div>
                    <hr class="">
                {% endfor %}
            </div>
        </div>

        <div class="col">
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/')

        chatSocket.onmessage = function (e) {
            console.log('onmessage')
        }

    </script>
{% endblock %}